@charset "UTF-8";
/* 各テキスト前の装飾の色設定 */
.color_1 {
  /* 太字テキスト部分 */
  /* 細字テキスト部分 */
}

.color_1 .main-text::before {
  background-color: #1a2d78;
}

.color_1 .sub-text::before {
  border: solid 1px #1a2d78;
}

/* 理念の下の各テキストの点 */
.sub-headline .color_1::before {
  background-color: #1a2d78;
}

.color_2 {
  /* 太字テキスト部分 */
  /* 細字テキスト部分 */
}

.color_2 .main-text::before {
  background-color: #215295;
}

.color_2 .sub-text::before {
  border: solid 1px #215295;
}

/* 理念の下の各テキストの点 */
.sub-headline .color_2::before {
  background-color: #215295;
}

.color_3 {
  /* 太字テキスト部分 */
  /* 細字テキスト部分 */
}

.color_3 .main-text::before {
  background-color: #1c83c8;
}

.color_3 .sub-text::before {
  border: solid 1px #1c83c8;
}

/* 理念の下の各テキストの点 */
.sub-headline .color_3::before {
  background-color: #1c83c8;
}

.color_4 {
  /* 太字テキスト部分 */
  /* 細字テキスト部分 */
}

.color_4 .main-text::before {
  background-color: #ff007d;
}

.color_4 .sub-text::before {
  border: solid 1px #ff007d;
}

/* 理念の下の各テキストの点 */
.sub-headline .color_4::before {
  background-color: #ff007d;
}

/* ブレークポイントの設定 */
/* フォントサイズをremで設定しやすいようにする */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* rem設定用 */
  font-size: 62.5%;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

ul {
  list-style: none;
}

.main {
  width: 90%;
  height: auto;
  margin: 100px 5%;
}

.header {
  width: 100%;
  height: 120px;
  background-color: blue;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: blue;
}

.headline {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 30px;
}

@media only screen and (max-width: 599px) {
  .headline {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 599px) {
  .sub-headline {
    text-align: center;
  }
}

.contents {
  display: flex;
  margin-bottom: 100px;
}

@media only screen and (max-width: 599px) {
  .contents {
    display: block;
  }
}

.text-box {
  width: 50%;
}

@media only screen and (max-width: 599px) {
  .text-box {
    width: 100%;
  }
}

.img-box {
  width: 50%;
}

@media only screen and (max-width: 599px) {
  .img-box {
    width: 100%;
  }
}

img {
  width: 70%;
  height: auto;
}

@media only screen and (max-width: 599px) {
  img {
    width: 90%;
    margin-left: 5%;
  }
}

.content_1 .text-box
.main-text {
  color: #1a2d78;
}

.content_3 .img-box, .content_5 .img-box {
  order: 2;
  text-align: right;
}

@media only screen and (max-width: 599px) {
  .content_3 .img-box, .content_5 .img-box {
    text-align: center;
  }
}

.main-text {
  font-size: 2.2rem;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px 0;
}

.sub-text {
  margin-bottom: 20px;
  font-size: 1.6rem;
}

.main-text, .sub-text, .head-text {
  display: flex;
  align-items: center;
}

.main-text::before, .sub-text::before, .head-text::before {
  content: "";
  margin-top: 5px;
  margin-right: 10px;
  padding: 30px 10px;
}

@media only screen and (max-width: 599px) {
  .main-text::before, .sub-text::before, .head-text::before {
    color: #ff007d;
  }
}

.headline .color_4::before {
  background-color: #ff007d;
  margin-right: 20px;
}

.sub-headline .main-text::before {
  content: "";
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 10px;
  padding: 10px 10px;
}

.sub-headline .sub-text {
  margin-left: 15px;
}

.sub-headline .sub-text::before {
  content: none;
}

@media only screen and (max-width: 599px) {
  .sub-headline p {
    justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */