$sub-text: 16;
$main-text: 22;
$heading-text: 30;

$colors:(
    color_1: #1a2d78, 
    color_2: #215295, 
    color_3: #1c83c8, 
    color_4: #ff007d
) ;

$breakpoints:(
    sm :"only screen and (max-width:599px)",
    md :"only screen and (max-width:768px)",
);