@import './variable.scss';
@import './function.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 90%;
    height: auto;
    margin: 100px 5%;
}
.header{
    width: 100%;
    height: 120px;
    background-color: blue;
}
.footer{
    width: 100%;
    height: 200px;
    background-color: blue;
}
.headline{
    font-size: $heading-text;
    font-weight: bold;
    margin-bottom: 20px;
}
img{
    width: 70%;
    height: auto;
}
.contents{
    display: flex;
    margin-bottom: 100px;
}
.text-box {
    width: 50%;
}
.img-box {
    width: 50%;
}
.content_1{
    .text-box
        .main-text{
            color: #1a2d78,
    }
}
.content_3{
    .img-box{
        order: 2;
        text-align: right;
    }
}
.content_5{
    .img-box{
        order: 2;
        text-align: right;
    }
}
.main-text{
    font-size: $main-text;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 0;
}
.sub-text{
    margin: 10px 0 20px 0;
    padding: 10px 0;
    font-size: $sub-text;
}
ul{
    list-style: none;
}
p{
    position: relative;
    &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: -25px;
        margin-top: -25px;
	    width: 15px;
	    height: 45px;
    }
}
.headline{
    .color_4::before{
        background-color: #ff007d;
        left: -30px;
    }
}
.sub-headline{
    .main-text{
        &::before{
            content: "";
            display: inline-block;
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: -30px;
            margin-top: -12px;
            width: 22px;
            height: 22px;
        }
    }
}