@import './variable.scss';
@import './function.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    /* rem設定用 */
    font-size: 62.5%;
    @include media(md){
        font-size: 50%;
    }
}
ul{
    list-style: none;
}
.main{
    width: 90%;
    height: auto;
    margin: 100px 5%;
}
.header{
    width: 100%;
    height: 120px;
    background-color: blue;
}
.footer{
    width: 100%;
    height: 200px;
    background-color: blue;
}
.headline{
    @include rem($heading-text);
    font-weight: bold;
    margin-bottom: 30px;
    @include media(sm){
        margin-top: 20px;
    }
}
.sub-headline{
    @include media(sm){
        text-align: center;
    }
}
.contents{
    display: flex;
    margin-bottom: 100px;
    @include media(sm){
      display: block;
    }
}
.text-box {
    width: 50%;
    @include media(sm){
        width: 100%;
    }
}
.img-box {
    width: 50%;
    @include media(sm){
        width: 100%;
    }
}
img{
    width: 70%;
    height: auto;
    @include media(sm){
        width: 90%;
        margin-left: 5%;
    }
}
.content_1{
    .text-box
        .main-text{
            color: #1a2d78,
    }
}
.content_3, .content_5{
    .img-box{
        order: 2;
        text-align: right;
        @include media(sm){
            text-align: center;
        }
    }
}
.main-text{
    @include rem($main-text);
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 0;
}
.sub-text{
    margin-bottom: 20px;
    @include rem($sub-text);
}
.main-text, .sub-text, .head-text{
    display: flex;
    align-items: center;
    &::before {
        content: "";
        margin-top: 5px;
        margin-right: 10px;
	    padding: 30px 10px;
        @include media(sm){
            color: #ff007d;
        }
    }
}
.headline{
    .color_4::before{
        background-color: #ff007d;
        margin-right: 20px;
    }
}
.sub-headline{   
    .main-text{
        &::before{
            content: "";
            border-radius: 50%;
            margin-top: 5px;
            margin-right: 10px;
            padding: 10px 10px;
        }
    }
    .sub-text{
        margin-left: 15px;
        &::before{
            content: none;
        }
    }
    p{
        @include media(sm){
            justify-content: center;
        }
    }
}
